body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-family: jetBrains Mono;
}

header {
  padding-top: 10px;
}

.container{
  margin: 0 150px;

}

#logo {
  margin-left: 50px;
  height: 40px;
}

.underline {
  border: none;
  height: 4px;
  background-color: #f4f4f4;
}

.header__btn {
  padding: 7px 30px;
  border: rgb(223, 126, 126) 2px solid;
  background-color: transparent;
  border-radius: 20px;
  float: right;
}

.header__btn a {
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
  color: rgb(147, 55, 55);
}

.header__btn:hover{
  border:  rgb(203, 53, 53) 2px solid;;
}

.header__info {
  display: flex;
}

.header__info p {
  font-size: 20px;
}

.content {
  width: 50%;
  margin-bottom: 20px;
}

#search {
  /* padding: 15px 180px 15px 10px; */
  padding: 15px;
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: box-shadow 0.3s;
  outline: none;
}

#search:focus {
  /* Apply box shadow when the search input is focused */
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1) !important;
}

::placeholder {
  font-size: 15px;
  color: #686666b4;
}

.search__btn {
  color: white;
  background-color: rgb(14, 161, 109);
  text-decoration: none;
  padding: 15px;
  border: none;
  border-radius: 2px;
  font-weight: bolder;
  font-size: 15px;
}

.search__btn:hover {
  background-color: rgb(12, 134, 91);
}

.content__buttons {
  margin-top: 60px;
  margin-left: 30px;
}

.row__one {
  margin-bottom: 10px;
}

.content__btn {
  padding: 15px 60px;
  background-color: #ccc;
  border-radius: 5px;
  border: none;
  color: #b70707b4;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.content__btn:hover {
  background-color: #e0cbcb;
}


#icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 5px;
  vertical-align: middle;
}

/* subtitle area */
.subtitle p{
  width: 80%;
}


/* Buy Ebook Section */

.body{
  background-image: url(/docs/assets/—Pngtree—indonesia\ independence\ day\ festival\ celebration_1453036.png);
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center;
}
#ebook-header{
  margin: 0 150px;
}

#ebook-content{
  margin-top: 40px;
  display: flex;
  width: 100%;
}

.text-contents{
  width: 50%;
  margin-left: 100px;
  margin-right: 60px ;
}

.text-contents p{
  font-size: 15px;
}

.jsbook{
  width: 125px;
}

figcaption{
  text-align: center;
}

/* tutorial section */
.book__list{
  margin: 0 150px;
}

.wrapper{
  background-color: white;  
  margin: 0 auto;
  width: 700px;
  padding: 40px 20px ;
  margin-bottom:  15%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.wrapper h3{
  text-align: center;
}

.price__list{
  list-style-type: none;
  width: 600px;
  cursor: pointer;
}

.list-items{
  background-color: #f4f4f4;
  padding: 30px 60px;
  margin-bottom: 3px;
}

.list-items:hover{
  background-color: pink;
  transition: all 0.5s;
}
.list__options{
  font-size: smaller;
  font-family: intel mono;
}


.price{
  float: right;
  font-size: 20px;
  color: teal;
  font-weight: 600;
}

@keyframes shake {
  0% { transform: translateY(0); }
  20% { transform: translateY(-4px); }
  40% { transform: translateY(4px); }
  60% { transform: translateY(-2px); }
  80% { transform: translateY(2px); }
  100% { transform: translateY(0); }
}

#payment {
  transition: transform 0.2s;
}

#payment:hover {
  animation: shake 0.8s infinite;
  background-color: rgb(31, 155, 155);
}


#payment{
  color: white;
  background-color: teal;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* For Webkit based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: teal;

}

/* media queries for mobile view */

@media (max-width: 768px) {
  #logo {
    margin-left: 2px;
  }

  .container{
    margin: 0;
  }

  .header__info {
    flex-direction: column;
  }

  .header__info p {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .content {
    width: 100%;
  }

  .text-content {
    align-items: center;
    margin: 0 15px;
  }

  .search {
    width: 100%;
  }

  #search {
    margin: 0 0 0 10px;
    padding: 15px 20px;
    width: 70%;
  }

  .search__btn {
    padding: 15px 20px;
  }
  .content__buttons {
    margin: 0 auto;
  }

  .row__one,
  .row__two {
    margin-bottom: 20px;
  }

  .content__btn {
    padding: 20px 40px;
    font-size: 14px;
  }

  #icon {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 3px;
  }

  .subtitle{
    align-items: center;
    margin: 0 15px;
    width: 100%;
  }

  
}